/* Basic Page and Nav Styling ------------------------------------------------ */
/*
$nav-autocomplete-color:                         #444 !default;
$nav-autocomplete-active-background:             #00a8e6 !default;
$nav-autocomplete-active-color:                  #fff !default;
$nav-autocomplete-header-color:                  #999 !default;
$nav-autocomplete-divider-border:                #ddd !default;
$nav-autocomplete-divider-border-width:          1px !default;
$caption-padding:                                20px !default;
$caption-color:                                  #fff !default;
$caption-panel-background:                       rgba(0,0,0,0.2) !default;
$caption-panel-color:                            #fff !default;
$datepicker-z-index:                             1050 !default;
$datepicker-animation:                           uk-fade !default;
$datepicker-nav-height:                          20px !default;
$datepicker-nav-margin-bottom:                   15px !default;
$datepicker-nav-color:                           #444 !default;
$datepicker-nav-hover-color:                     #444 !default;
$datepicker-previous-icon:                       "\f053" !default;
$datepicker-next-icon:                           "\f054" !default;
$datepicker-table-width:                         26px !default;
$datepicker-table-height:                        24px !default;
$datepicker-table-color:                         #444 !default;
$datepicker-table-hover-background:              #ddd !default;
$datepicker-table-hover-color:                   #444 !default;
$datepicker-table-onclick-background:            #ccc !default;
$datepicker-table-onclick-color:                 #444 !default;
$datepicker-table-active-background:             #00a8e6 !default;
$datepicker-table-active-color:                  #fff !default;
$datepicker-table-muted-color:                   #999 !default;
$dotnav-margin-left:                             15px !default;
$dotnav-width:                                   20px !default;
$dotnav-height:                                  $dotnav-width !default;
$dotnav-background:                              rgba(50,50,50,0.1) !default;
$dotnav-hover-background:                        rgba(50,50,50,0.4) !default;
$dotnav-onclick-background:                      rgba(50,50,50,0.6) !default;
$dotnav-active-background:                       rgba(50,50,50,0.4) !default;
$dotnav-vertical-margin-top:                     $dotnav-margin-left !default;
$htmleditor-navbar-background:                   #eee !default;
$htmleditor-navbar-nav-height:                   40px !default;
$htmleditor-navbar-nav-padding-horizontal:       15px !default;
$htmleditor-navbar-nav-line-height:              $htmleditor-navbar-nav-height !default;
$htmleditor-navbar-nav-color:                    #444 !default;
$htmleditor-navbar-nav-hover-background:         #f5f5f5 !default;
$htmleditor-navbar-nav-hover-color:              #444 !default;
$htmleditor-navbar-nav-onclick-background:       #ddd !default;
$htmleditor-navbar-nav-onclick-color:            #444 !default;
$htmleditor-navbar-nav-active-background:        #f5f5f5 !default;
$htmleditor-navbar-nav-active-color:             #444 !default;
$htmleditor-content-border:                      #ddd !default;
$htmleditor-content-background:                  #fff !default;
$htmleditor-content-padding:                     20px !default;
$htmleditor-content-split-border:                #eee !default;
$htmleditor-fullscreen-z-index:                  990 !default;
$htmleditor-fullscreen-content-top:              $htmleditor-navbar-nav-height !default;
$htmleditor-fullscreen-icon-resize:              "\f066" !default;
$nestable-padding-left:                          40px !default;
$nestable-dragged-z-index:                       1050 !default;
$nestable-item-margin-bottom:                    10px !default;
$nestable-item-padding:                          5px !default;
$nestable-item-background:                       #f5f5f5 !default;
$nestable-placeholder-border:                    #ddd !default;
$nestable-empty-height:                          40px !default;
$nestable-handle-font-size:                      18px !default;
$nestable-handle-color:                          #ddd !default;
$nestable-handle-icon:                           "\f0c9" !default;
$nestable-toggle-color:                          #999 !default;
$nestable-toggle-hover-color:                    #444 !default;
$nestable-toggle-icon:                           "\f147" !default;
$nestable-toggle-collapsed-icon:                 "\f196" !default;
$notify-position:                                10px !default;
$notify-z-index:                                 1040 !default;
$notify-width:                                   350px !default;
$notify-message-margin-bottom:                   10px !default;
$notify-message-padding:                         15px !default;
$notify-message-background:                      #444 !default;
$notify-message-color:                           #fff !default;
$notify-message-font-size:                       16px !default;
$notify-message-line-height:                     22px !default;
$notify-message-primary-background:              #ebf7fd !default;
$notify-message-primary-color:                   #2d7091 !default;
$notify-message-success-background:              #f2fae3 !default;
$notify-message-success-color:                   #659f13 !default;
$notify-message-warning-background:              #fffceb !default;
$notify-message-warning-color:                   #e28327 !default;
$notify-message-danger-background:               #fff1f0 !default;
$notify-message-danger-color:                    #d85030 !default;
$placeholder-margin-vertical:                    15px !default;
$placeholder-padding:                            20px !default;
$placeholder-border:                             #ddd !default;
$placeholder-background:                         #fafafa !default;
$placeholder-color:                              #444 !default;
$placeholder-large-padding-vertical:             80px !default;
$search-width:                                   120px !default;
$search-focus-width:                             180px !default;
$search-height:                                  30px !default;
$search-padding:                                 30px !default;
$search-border:                                  rgba(0,0,0,0) !default;
$search-border-width:                            1px !default;
$search-background:                              rgba(0,0,0,0) !default;
$search-color:                                   #444 !default;
$search-placeholder-color:                       #999 !default;
$search-icon:                                    "\f002" !default;
$search-icon-size:                               14px !default;
$search-icon-color:                              rgba(0,0,0,0.2) !default;
$dropdown-search-width:                          300px !default;
$dropdown-search-margin-top:                     0 !default;
$dropdown-search-background:                     #f5f5f5 !default;
$dropdown-search-color:                          #444 !default;
$dropdown-search-animation:                      uk-slide-top-fixed !default;
$dropdown-search-navbar-margin-top:              5px !default;
$dropdown-search-navbar-margin-right:            -15px !default;
$nav-search-color:                               #444 !default;
$nav-search-active-background:                   #00a8e6 !default;
$nav-search-active-color:                        #fff !default;
$nav-search-header-color:                        #999 !default;
$nav-search-divider-border:                      #ddd !default;
$nav-search-divider-border-width:                1px !default;
$nav-search-nested-color:                        #07D !default;
$nav-search-nested-hover-color:                  #059 !default;
$offcanvas-search-margin:                        20px 15px !default;
$offcanvas-search-background:                    #1a1a1a !default;
$offcanvas-search-border:                        rgba(0,0,0,0) !default;
$offcanvas-search-color:                         #ccc !default;
$offcanvas-search-placeholder-color:             #777 !default;
$offcanvas-search-icon-color:                    #777 !default;
$slidenav-width:                                 60px !default;
$slidenav-height:                                $slidenav-width !default;
$slidenav-color:                                 rgba(50,50,50,0.4) !default;
$slidenav-font-size:                             60px !default;
$slidenav-line-height:                           $slidenav-height !default;
$slidenav-previous-icon:                         "\f104" !default;
$slidenav-next-icon:                             "\f105" !default;
$slidenav-hover-color:                           rgba(50,50,50,0.7) !default;
$slidenav-active-color:                          rgba(50,50,50,0.9) !default;
$slidenav-position-previous:                     20px !default;
$slidenav-position-next:                         $slidenav-position-previous !default;
$sortable-dragged-z-index:                       1050 !default;
$sortable-placeholder-opacity:                   0 !default;
$sortable-over-opacity:                          0.3 !default;
$sticky-z-index:                                 980 !default;
$uk-upload-dragover-box-shadow:                  rgba(100,100,100,0.3) !default;
$uk-upload-dragover-box-shadow-blur:             20px !default;
$alert-margin-vertical:                          15px !default;
$alert-padding:                                  10px !default;
$alert-background:                               #ebf7fd !default;
$alert-color:                                    #2d7091 !default;
$alert-success-background:                       #f2fae3 !default;
$alert-success-color:                            #659f13 !default;
$alert-warning-background:                       #fffceb !default;
$alert-warning-color:                            #e28327 !default;
$alert-danger-background:                        #fff1f0 !default;
$alert-danger-color:                             #d85030 !default;
$alert-large-padding:                            20px !default;
$article-margin-top:                             25px !default;
$article-title-font-size:                        36px !default;
$article-title-line-height:                      42px !default;
$article-title-font-weight:                      normal !default;
$article-title-text-transform:                   none !default;
$article-meta-font-size:                         12px !default;
$article-meta-line-height:                       18px !default;
$article-meta-color:                             #999 !default;
$article-lead-color:                             #444 !default;
$article-lead-font-size:                         18px !default;
$article-lead-line-height:                       24px !default;
$article-lead-font-weight:                       normal !default;
$article-divider-margin:                         25px !default;
$article-divider-border:                         #ddd !default;
$badge-background:                               #00a8e6 !default;
$badge-padding-horizontal:                       5px !default;
$badge-font-size:                                10px !default;
$badge-font-weight:                              bold !default;
$badge-line-height:                              14px !default;
$badge-color:                                    #fff !default;
$badge-text-transform:                           none !default;
$badge-hover-color:                              #fff !default;
$badge-notification-font-size:                   12px !default;
$badge-notification-line-height:                 18px !default;
$badge-success-background:                       #8cc14c !default;
$badge-warning-background:                       #faa732 !default;
$badge-danger-background:                        #da314b !default;
$base-body-background:                           #fff !default;
*/
/*
$base-ins-background:                            #ffa !default;
$base-ins-color:                                 #444 !default;
$base-mark-background:                           #ffa !default;
$base-mark-color:                                #444 !default;
$base-quote-font-style:                          italic !default;
$base-margin-vertical:                           15px !default;
*/
/*
$base-heading-text-transform:                    none !default;
$base-heading-margin-top:                        25px !default;
$base-h1-font-size:                              36px !default;
$base-h1-line-height:                            42px !default;
$base-h2-font-size:                              24px !default;
$base-h2-line-height:                            30px !default;
$base-h3-font-size:                              18px !default;
$base-h3-line-height:                            24px !default;
$base-h4-font-size:                              16px !default;
$base-h4-line-height:                            22px !default;
$base-h5-font-size:                              14px !default;
$base-h5-line-height:                            20px !default;
$base-h6-font-size:                              12px !default;
$base-h6-line-height:                            18px !default;
$base-list-padding-left:                         30px !default;
$base-hr-margin-vertical:                        $base-margin-vertical !default;
$base-hr-border:                                 #ddd !default;
$base-hr-border-width:                           1px !default;
$base-blockquote-padding-left:                   15px !default;
$base-blockquote-border:                         #ddd !default;
$base-blockquote-border-width:                   5px !default;
$base-blockquote-font-size:                      16px !default;
$base-blockquote-line-height:                    22px !default;
$base-blockquote-font-style:                     italic !default;
$base-pre-padding:                               10px !default;
$base-pre-background:                            #f5f5f5 !default;
$base-pre-color:                                 #444 !default;
$base-pre-font-size:                             12px !default;
$base-pre-line-height:                           18px !default;
$base-pre-font-family:                           $base-code-font-family !default;
$base-selection-background:                      #39f !default;
$base-selection-color:                           #fff !default;
$breadcrumb-font-size:                           1rem !default;
$breadcrumb-divider:                             "/" !default;
$breadcrumb-divider-margin:                      8px !default;
$breadcrumb-disabled-color:                      #999 !default;
*/
/*
$button-success-background:                      #8cc14c !default;
$button-success-color:                           #fff !default;
$button-success-hover-background:                #8ec73b !default;
$button-success-hover-color:                     #fff !default;
$button-success-active-background:               #72ae41 !default;
$button-success-active-color:                    #fff !default;
$button-danger-background:                       #da314b !default;
$button-danger-color:                            #fff !default;
$button-danger-hover-background:                 #e4354f !default;
$button-danger-hover-color:                      #fff !default;
$button-danger-active-background:                #c91032 !default;
$button-danger-active-color:                     #fff !default;
*/
/*$button-link-color:                              #07D !default;
$button-link-hover-color:                        #059 !default;
$button-link-hover-text-decoration:              underline !default;
$button-link-disabled-color:                     #999 !default;
$close-size:                                     20px !default;
$close-alt-padding:                              2px !default;
$close-alt-background:                           #eee !default;
$comment-header-margin-bottom:                   15px !default;
$comment-avatar-margin-right:                    15px !default;
$comment-title-margin-top:                       5px !default;
$comment-title-font-size:                        16px !default;
$comment-title-line-height:                      22px !default;
$comment-meta-margin-top:                        2px !default;
$comment-meta-color:                             #999 !default;
$comment-meta-font-size:                         11px !default;
$comment-meta-line-height:                       16px !default;
$comment-list-margin-top:                        15px !default;
$comment-list-padding-left:                      100px !default;
$description-list-horizontal-width:              160px !default;
$description-list-horizontal-margin-left:        180px !default;
$description-list-line-margin-top:               5px !default;
$description-list-line-border-width:             1px !default;
$description-list-line-border:                   #ddd !default;
$description-list-line-color:                    #999 !default;
$dropdown-z-index:                               970 !default;
$dropdown-width:                                 200px !default;
$dropdown-margin-top:                            5px !default;
$dropdown-padding:                               15px !default;
$dropdown-background:                            #f5f5f5 !default;
$dropdown-color:                                 #444 !default;
$dropdown-font-size:                             1rem !default;
$dropdown-animation:                             uk-fade !default;
$dropdown-divider-border-width:                  1px !default;
$dropdown-divider-border:                        #ddd !default;
$dropdown-small-padding:                         5px !default;
$dropdown-navbar-margin:                         0 !default;
$dropdown-navbar-background:                     #f5f5f5 !default;
$dropdown-navbar-color:                          #444 !default;
$dropdown-navbar-animation:                      uk-slide-top-fixed !default;
$dropdown-scrollable-height:                     200px !default;
*/
/*
$grid-divider-border:                            #ddd !default;
$grid-divider-border-width:                      1px !default;
$icon-font-path:                                 "../fonts" !default;
$icon-small-font-size:                           150% !default;
$icon-medium-font-size:                          200% !default;
$icon-large-font-size:                           250% !default;
$icon-small-vertical-align:                      -10% !default;
$icon-medium-vertical-align:                     -16% !default;
$icon-large-vertical-align:                      -22% !default;
$icon-button-width:                              35px !default;
$icon-button-height:                             $icon-button-width !default;
$icon-button-border-radius:                      100% !default;
$icon-button-background:                         #eee !default;
$icon-button-font-size:                          round(($icon-button-width * 0.5)) !default;
$icon-button-color:                              #444 !default;
$icon-button-hover-background:                   #f5f5f5 !default;
$icon-button-hover-color:                        #444 !default;
$icon-button-active-background:                  #ddd !default;
$icon-button-active-color:                       #444 !default;
$list-nested-padding-left:                       20px !default;
$list-line-margin-top:                           5px !default;
$list-line-border:                               #ddd !default;
$list-line-border-width:                         1px !default;
$list-striped-padding-vertical:                  5px !default;
$list-striped-padding-horizontal:                5px !default;
$list-striped-background:                        #f5f5f5 !default;
$list-space-margin-top:                          10px !default;
$modal-z-index:                                  1010 !default;
$modal-background:                               rgba(0,0,0,0.6) !default;
$modal-dialog-margin-vertical:                   50px !default;
$modal-dialog-padding:                           20px !default;
$modal-dialog-width:                             600px !default;
$modal-dialog-background:                        #fff !default;
$modal-dialog-large-width:                       930px !default;
$modal-dialog-large-width-large:                 1130px !default;
$nav-padding-vertical:                           5px !default;
$nav-padding-horizontal:                         15px !default;
$nav-header-padding-vertical:                    $nav-padding-vertical !default;
$nav-header-padding-horizontal:                  $nav-padding-horizontal !default;
$nav-header-font-size:                           12px !default;
$nav-header-font-weight:                         bold !default;
$nav-header-text-transform:                      uppercase !default;
$nav-header-margin-top:                          15px !default;
$nav-divider-margin-vertical:                    9px !default;
$nav-divider-margin-horizontal:                  $nav-padding-horizontal !default;
$nav-subtitle-font-size:                         12px !default;
$nav-subtitle-line-height:                       18px !default;
$nav-nested-padding-left:                        15px !default;
$nav-nested-padding-vertical:                    2px !default;
$nav-nested-padding-horizontal:                  0 !default;
$nav-sub-padding-vertical:                       5px !default;
$nav-sub-padding-left:                           $nav-padding-horizontal !default;
$nav-parent-icon:                                "\f104" !default;
$nav-parent-open-icon:                           "\f107" !default;
$nav-parent-icon-width:                          20px !default;
$nav-parent-icon-margin-right:                   -10px !default;
$nav-side-color:                                 #444 !default;
$nav-side-hover-background:                      rgba(0,0,0,0.05) !default;
$nav-side-hover-color:                           #444 !default;
$nav-side-active-background:                     #00a8e6 !default;
$nav-side-active-color:                          #fff !default;
$nav-side-header-color:                          #444 !default;
$nav-side-divider-border:                        #ddd !default;
$nav-side-divider-border-width:                  1px !default;
$nav-side-nested-color:                          #07D !default;
$nav-side-nested-hover-color:                    #059 !default;
$nav-dropdown-color:                             #444 !default;
$nav-dropdown-hover-background:                  #00a8e6 !default;
$nav-dropdown-hover-color:                       #fff !default;
$nav-dropdown-header-color:                      #999 !default;
$nav-dropdown-divider-border:                    #ddd !default;
$nav-dropdown-divider-border-width:              1px !default;
$nav-dropdown-nested-color:                      #07D !default;
$nav-dropdown-nested-hover-color:                #059 !default;
$nav-navbar-color:                               #444 !default;
$nav-navbar-hover-background:                    #00a8e6 !default;
$nav-navbar-hover-color:                         #fff !default;
$nav-navbar-header-color:                        #999 !default;
$nav-navbar-divider-border:                      #ddd !default;
$nav-navbar-divider-border-width:                1px !default;
$nav-navbar-nested-color:                        #07D !default;
$nav-navbar-nested-hover-color:                  #059 !default;
$nav-offcanvas-padding-vertical:                 10px !default;
$nav-offcanvas-padding-horizontal:               15px !default;
$nav-offcanvas-color:                            #ccc !default;
$nav-offcanvas-hover-background:                 #404040 !default;
$nav-offcanvas-hover-color:                      #fff !default;
$nav-offcanvas-active-background:                #1a1a1a !default;
$nav-offcanvas-active-color:                     #fff !default;
$nav-offcanvas-header-color:                     #777 !default;
$nav-offcanvas-divider-border:                   #1a1a1a !default;
$nav-offcanvas-divider-border-width:             1px !default;
$nav-offcanvas-nested-color:                     #ccc !default;
$nav-offcanvas-nested-hover-color:               #fff !default;
*/
/*$navbar-nav-subtitle-font-size:                  10px !default;
$navbar-nav-subtitle-offset:                     2px !default;
$navbar-brand-font-size:                         18px !default;
$navbar-brand-color:                             #444 !default;
$navbar-brand-hover-color:                       #444 !default;
$navbar-toggle-font-size:                        18px !default;
$navbar-toggle-color:                            #444 !default;
$navbar-toggle-hover-color:                      #444 !default;
$navbar-toggle-icon:                             "\f0c9" !default;
$navbar-toggle-icon-alt:                         "\f002" !default;
*/
/*
$overlay-area-background:                        rgba(0,0,0,0.3) !default;
$overlay-area-icon:                              "\f002" !default;
$overlay-area-icon-size:                         50px !default;
$overlay-area-icon-color:                        #fff !default;
$overlay-area-content-font-size:                 1rem !default;
$overlay-area-content-padding-horizontal:        15px !default;
$overlay-area-content-color:                     #fff !default;
$overlay-area-content-link-color:                inherit !default;
$overlay-caption-background:                     rgba(0,0,0,0.5) !default;
$overlay-caption-padding:                        15px !default;
$overlay-caption-color:                          #fff !default;
$pagination-font-size:                           1rem !default;
$pagination-margin-left:                         5px !default;
$pagination-padding-vertical:                    3px !default;
$pagination-padding-horizontal:                  5px !default;
$pagination-line-height:                         20px !default;
$pagination-background:                          #eee !default;
$pagination-color:                               #444 !default;
$pagination-hover-background:                    #f5f5f5 !default;
$pagination-hover-color:                         #444 !default;
$pagination-onclick-background:                  #ddd !default;
$pagination-onclick-color:                       #444 !default;
$pagination-active-background:                   #00a8e6 !default;
$pagination-active-color:                        #fff !default;
$pagination-disabled-background:                 #f5f5f5 !default;
$pagination-disabled-color:                      #999 !default;
$panel-title-margin-bottom:                      15px !default;
$panel-title-font-size:                          18px !default;
$panel-title-line-height:                        24px !default;
$panel-title-font-weight:                        normal !default;
$panel-title-color:                              #444 !default;
$panel-title-text-transform:                     none !default;
$panel-box-padding:                              15px !default;
$panel-box-background:                           #f5f5f5 !default;
$panel-box-color:                                #444 !default;
$panel-box-title-color:                          #444 !default;
$panel-box-badge-top:                            10px !default;
$panel-box-badge-right:                          $panel-box-badge-top !default;
$panel-box-teaser-margin:                        -$panel-box-padding !default;
$panel-box-teaser-margin-bottom:                 $panel-title-margin-bottom !default;
$panel-box-primary-background:                   #ebf7fd !default;
$panel-box-primary-color:                        #2d7091 !default;
$panel-box-primary-title-color:                  #2d7091 !default;
$panel-box-secondary-background:                 #eee !default;
$panel-box-secondary-color:                      #444 !default;
$panel-box-secondary-title-color:                #444 !default;
$panel-header-title-padding:                     10px !default;
$panel-header-title-border:                      #ddd !default;
$panel-header-title-border-width:                1px !default;
$panel-header-title-color:                       #444 !default;
$panel-space-padding:                            30px !default;
$panel-divider-gutter:                           25px !default;
$panel-divider-gutter-large:                     35px !default;
$panel-divider-border:                           #ddd !default;
$panel-divider-border-width:                     1px !default;
$form-password-font-size:                        13px !default;
$form-password-line-height:                      $form-password-font-size !default;
$form-password-color:                            #999 !default;
$form-password-hover-color:                      #999 !default;
$form-password-padding:                          50px !default;
$progress-height:                                20px !default;
$progress-mini-height:                           6px !default;
$progress-small-height:                          12px !default;
$progress-margin-vertical:                       15px !default;
$progress-background:                            #eee !default;
$progress-bar-background:                        #00a8e6 !default;
$progress-bar-font-size:                         12px !default;
$progress-bar-color:                             #fff !default;
$progress-bar-success-background:                #8cc14c !default;
$progress-bar-warning-background:                #faa732 !default;
$progress-bar-danger-background:                 #da314b !default;
*/
/*
$tab-border:                                     #ddd !default;
$tab-border-width:                               1px !default;
$tab-padding-horizontal:                         12px !default;
$tab-padding-vertical:                           8px !default;
$tab-padding-top:                                $tab-padding-vertical !default;
$tab-padding-bottom:                             $tab-padding-vertical !default;
$tab-margin-horizontal:                          5px !default;
$tab-margin-vertical:                            5px !default;
$tab-color:                                      #07D !default;
$tab-hover-border:                               #f5f5f5 !default;
$tab-hover-background:                           #f5f5f5 !default;
$tab-hover-color:                                #059 !default;
$tab-active-border:                              #ddd !default;
$tab-active-background:                          #fff !default;
$tab-active-color:                               #444 !default;
$tab-disabled-color:                             #999 !default;
$table-margin-vertical:                          15px !default;
$table-padding-vertical:                         8px !default;
$table-padding-horizontal:                       8px !default;
$table-caption-color:                            #999 !default;
$table-caption-font-size:                        12px !default;
*/
/*$table-condensed-padding-vertical:               4px !default;
$table-condensed-padding-horizontal:             8px !default;
$table-hover-background:                         #EEE !default;
$text-small-font-size:                           11px !default;
$text-small-line-height:                         16px !default;
$text-large-font-size:                           18px !default;
$text-large-line-height:                         24px !default;
$text-large-font-weight:                         normal !default;
$text-muted-color:                               #999 !default;
$text-primary-color:                             #2d7091 !default;
$text-success-color:                             #659f13 !default;
$text-warning-color:                             #e28327 !default;
$text-danger-color:                              #d85030 !default;
$thumbnail-padding:                              4px !default;
$thumbnail-border:                               #ddd !default;
$thumbnail-border-width:                         1px !default;
$thumbnail-background:                           #fff !default;
$thumbnail-hover-border:                         #aaa !default;
$thumbnail-hover-background:                     #fff !default;
$thumbnail-caption-padding:                      $thumbnail-padding !default;
$thumbnail-caption-color:                        #444 !default;
$thumbnail-mini-width:                           150px !default;
$thumbnail-small-width:                          200px !default;
$thumbnail-medium-width:                         300px !default;
$thumbnail-large-width:                          400px !default;
*/
/*
$utility-container-max-width:                    980px !default;
$utility-container-padding-horizontal:           25px !default;
$utility-container-large-max-width:              1200px !default;
$utility-container-large-padding-horizontal:     35px !default;
$utility-align-horizontal:                       15px !default;
$utility-align-vertical:                         15px !default;
$utility-height-viewport-min-height:             600px !default;
$utility-margin:                                 15px !default;
$utility-margin-small:                           5px !default;
$utility-margin-large:                           50px !default;
$utility-border-rounded:                         5px !default;
$utility-heading-large-font-size:                52px !default;
$utility-heading-large-line-height:              64px !default;
$utility-link-muted-color:                       #444 !default;
$utility-link-muted-hover-color:                 #444 !default;
$utility-scrollable-text-height:                 300px !default;
$utility-scrollable-box-height:                  170px !default;
$utility-scrollable-box-padding:                 10px !default;
$utility-scrollable-box-border:                  #ddd !default;
$utility-scrollable-box-border-width:            1px !default;
$breakpoint-small:                               480px !default;
$breakpoint-medium:                              768px !default;
$breakpoint-large:                               960px !default;
$breakpoint-xlarge:                              1220px !default;
$breakpoint-mini-max:                            ($breakpoint-small - 1) !default;
$breakpoint-small-max:                           ($breakpoint-medium - 1) !default;
$breakpoint-medium-max:                          ($breakpoint-large - 1) !default;
$breakpoint-large-max:                           ($breakpoint-xlarge - 1) !default;
$form-advanced-size:                           14px !default;
$form-advanced-border:                         #aaa !default;
$form-advanced-border-width:                   1px !default;
$form-advanced-margin-top:                     -4px !default;
*/
form {
  margin-bottom: 20px;
}

.pq-docs-section {
  margin-bottom: 0px;
  margin-top: 1px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #eeeeee;
}

.pq-docs-section:last-child {
  border-bottom: 0px;
}

@media (max-width: 991px) {
  .pq-docs-section {
    padding: 30px 0px 30px 0px;
  }
}
.pq-docs-section .sectiontitle {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 300;
  display: block;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.backgrounds {
  position: fixed;
  text-align: center;
  top: 230px;
  right: -118px;
  width: 240px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  color: #666666;
  padding: 14px 20px 10px 12px;
  display: block;
  -webkit-box-shadow: -1px -1px 2px #dddddd;
  box-shadow: -1px -1px 2px #dddddd;
  background-color: #eeeeee;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  transition: .2s;
  z-index: 100;
  cursor: pointer;
}

.backgrounds:hover {
  box-shadow: -1px -1px 5px #aaaaaa;
}

.backgrounds div {
  border: 2px solid white;
  display: inline-block;
  margin: 5px 2px 0px;
  width: 75px;
  color: #888888;
  transition: .2s;
  cursor: pointer;
}

.backgrounds div:hover {
  box-shadow: -2px 2px 3px #aaaaaa;
}

.grid-demo {
  margin-bottom: 10px;
}

.grid-demo p {
  border: 2px solid white;
  background-color: whitesmoke;
  padding: 10px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
}

.downloads {
  font-size: 12px;
}

.downloads thead {
  font-size: 14px;
}

.downloads a:link, .downloads a:active, .downloads a:visited, .downloads a:hover {
  font-size: 14px;
}

.darkbox-label {
  background-color: #eeeeee;
  border-radius: 5px 5px 0px 0px;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: bold;
  display: block;
}

.darkbox {
  display: block;
  background-color: #666666;
  border-radius: 0px 0px 5px 5px;
  padding: 15px;
  color: white;
  margin-bottom: 15px;
}

/* Specs Styling ------------------------------------------------ */
.specs {
  display: none;
  border-radius: 3px;
  margin-top: 10px;
  padding: 30px 30px 0px 30px;
  overflow: auto;
  z-index: 10;
  background-color: whitesmoke;
  border: 1px solid #dddddd;
}

.specs .state {
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #dddddd;
  padding-top: 10px;
}

.specs table {
  width: 100%;
}

.specs h1 {
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 10px;
  font-weight: 400;
}

.code {
  display: none;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  line-height: 20px;
  background-color: #666666;
  color: white;
  padding: 20px;
  margin: 10px 0px 30px 0px;
  border-radius: 5px;
  line-height: 2em;
  border: 1px solid #666666;
}

.code .linenumbers {
  float: left;
  color: #8E9295;
  margin-right: 20px;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}

.code .tag {
  color: #ffbf68;
}

.code .css {
  color: #e4998f;
}

.code .html {
  color: #edbe00;
}

.code .comment {
  color: #dddddd;
}

.code .js {
  color: #0096d6;
  font-style: italic;
}

.code .var {
  color: #0096d6;
}

.specs table {
  padding: 10px;
  font-size: 11px;
  line-height: 15px;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.specs table th {
  text-align: left;
  padding: 7px;
  width: 120px;
}

.specs table td {
  padding: 7px;
  min-width: 150px;
}

.specs .title {
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

.fa-hover {
  color: #aaaaaa;
  padding: 10px;
  font-size: 12px;
}

.fa-hover i {
  color: #666666;
  font-size: 30px;
  margin-right: 10px;
}

.fa-hover:hover {
  color: #666666;
}

/* Color Styling ------------------------------------------------ */
.colorbox {
  width: 110px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 12px;
  text-transform: uppercase;
  border-top: 30px solid;
  text-align: center;
  background-color: whitesmoke;
}
.colorbox.main {
  border-top-width: 40px;
  display: inline-block;
}

.blue {
  border-color: #0096d6;
}

.blue:hover {
  border-color: #0084bd;
}

.blue-dark {
  border-color: #00608a;
}

.blue-hover {
  border-color: #0084bd;
}

.blue-light1 {
  border-color: #23bdff;
}

.blue-light2 {
  border-color: #8adcff;
}

.blue-light3 {
  border-color: #d6f3ff;
}

.orange {
  border-color: #ff9e1b;
}

.orange:hover {
  border-color: #f68e00;
}

.orange-dark {
  border-color: #d37900;
}

.orange-hover {
  border-color: #f68e00;
}

.orange-light1 {
  border-color: #ffbf68;
}

.orange-light2 {
  border-color: #ffdfb4;
}

.grey {
  border-color: #666666;
}

.grey-dark {
  border-color: #444444;
}

.grey-hover {
  border-color: #cacaca;
}

.grey-light1 {
  border-color: #888888;
}

.grey-light2 {
  border-color: #aaaaaa;
}

.grey-light3 {
  border-color: #dddddd;
}

.grey-light4 {
  border-color: #eeeeee;
}

.grey-light5 {
  border-color: whitesmoke;
}

.green {
  border-color: #7eaf35;
}

.green-dark {
  border-color: #547423;
}

.green-light1 {
  border-color: #a3cf61;
}

.green-light2 {
  border-color: #c5e19c;
}

.purple {
  border-color: #686e9f;
}

.purple-dark {
  border-color: #484d72;
}

.purple-light1 {
  border-color: #979bbd;
}

.purple-light2 {
  border-color: #c6c8da;
}

.red {
  border-color: #af3a2b;
}

.red-dark {
  border-color: #7a281e;
}

.red-light1 {
  border-color: #d46152;
}

.red-light2 {
  border-color: #e4998f;
}

.yellow {
  border-color: #edbe00;
}

.yellow-dark {
  border-color: #ab8900;
}

.yellow-light1 {
  border-color: #ffd83b;
}

.yellow-light2 {
  border-color: #ffe787;
}

.lavender {
  border-color: #b081b9;
}

.lavender-dark {
  border-color: #8e5599;
}

.lavender-light1 {
  border-color: #cfb2d4;
}

.lavender-light2 {
  border-color: #eee3f0;
}

.teal {
  border-color: #4c93a1;
}

.teal-dark {
  border-color: #33646d;
}

.teal-light1 {
  border-color: #7ab4c0;
}

.teal-light2 {
  border-color: #add1d9;
}

/* Continued Section Styling ------------------------------------------------ */
.continue {
  border-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* Change Log Styling ------------------------------------------------ */
.change table {
  margin-top: 30px;
  font-size: 12px;
  text-align: left;
  border-radius: 3px;
  width: 100%;
}

.change table tr .title {
  background-color: #666666;
  border-bottom: 5px solid white;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: 300;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.change table td {
  border: 1px solid white;
  padding: 10px 15px;
}

@media (max-width: 767px) {
  .change table td {
    padding: 8px;
  }
}
.change table tr:nth-child(even) td {
  background-color: whitesmoke;
}

.change table tr.date td {
  background-color: white;
  text-transform: uppercase;
  border-top: 0px solid #dddddd;
  border-bottom: 2px solid #dddddd;
  padding: 5px 10px;
  font-weight: 300;
  background-color: #888888;
  color: white;
  letter-spacing: 2px;
}

.change table tr td.upcoming {
  color: #0096d6;
  text-align: center;
  font-size: 18px;
}

.change table tr td.deletion {
  color: #af3a2b;
  text-align: center;
  font-size: 18px;
}

.change table tr td.addition {
  color: #7eaf35;
  text-align: center;
  font-size: 18px;
}

.change table tr td.smallchange {
  color: #ff9e1b;
  text-align: center;
  font-size: 18px;
}

.change table tr td.bigchange {
  color: #686e9f;
  text-align: center;
  font-size: 18px;
}

/* Blogs ------------------------------------------------ */
.blogassets > div {
  margin-bottom: 25px;
  overflow: auto;
}

.blogassets img {
  width: 100%;
  border: 5px solid #EDEEEE;
}

.blogassets button {
  float: left;
  margin-right: 15px;
}
