/* Basic Page and Nav Styling ------------------------------------------------ */

@import '../uikit/scss/pq-variables';

form {
	margin-bottom: 20px;
}

.pq-docs-section {
	margin-bottom: 0px;
	margin-top: 1px;
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: 1px solid $grey-light4;
}

.pq-docs-section:last-child {
	border-bottom: 0px;
}

@media(max-width: 991px) {

  .pq-docs-section {
    padding: 30px 0px 30px 0px;
  }

}

.pq-docs-section .sectiontitle {
  margin-top: 40px;
  font-size: 18px;
  font-weight: $light;
  display: block;
  border-bottom: 1px solid $grey-light4;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.backgrounds {
	position: fixed;
	text-align: center;
	top: 230px;
	right: -118px;
	width: 240px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 30px;
	color: $grey;
	padding: 14px 20px 10px 12px;
	display: block;
	-webkit-box-shadow: -1px -1px 2px $grey-light3;
			box-shadow: -1px -1px 2px $grey-light3;
	background-color: $grey-light4;
	transform: rotate(-90deg);
	-ms-transform:rotate(-90deg); /* IE 9 */
	-webkit-transform:rotate(-90deg);
	transition: .2s;
	z-index: 100;
	cursor: pointer;
}

.backgrounds:hover {
	box-shadow: -1px -1px 5px $grey-light2;
}

.backgrounds div {
	border: 2px solid white;
	display: inline-block;
	margin: 5px 2px 0px;
	width: 75px;
	color: $grey-light1;
	transition: .2s;
	cursor: pointer;
}

.backgrounds div:hover {
	box-shadow: -2px 2px 3px $grey-light2;
}

.grid-demo {
	margin-bottom: 10px;
}

.grid-demo p {
	border: 2px solid white;
	background-color: $grey-light5;
	padding: 10px;
	border: 1px solid $grey-light3;
	margin-bottom: 15px;
}

.downloads {
	font-size: 12px;
}

.downloads thead {
	font-size: 14px;
}

.downloads a:link, .downloads a:active, .downloads a:visited, .downloads a:hover {
	font-size: 14px;
}

.darkbox-label {
	background-color: $grey-light4;
	border-radius: 5px 5px 0px 0px;
	padding: 10px 15px;
	font-size: 12px;
	font-weight: bold;
	display: block;
}

.darkbox {
	display: block;
	background-color: $grey;
	border-radius: 0px 0px 5px 5px;
	padding: 15px;
	color: white;
	margin-bottom: 15px;
}

/* Specs Styling ------------------------------------------------ */

.specs {
	display: none;
	border-radius: 3px;
	margin-top: 10px;
	padding: 30px 30px 0px 30px;
	overflow: auto;
	z-index: 10;
	background-color: $grey-light5;
	border: 1px solid $grey-light3;
}

.specs .state {
	font-size: 14px;
	font-weight: 400;
	border-bottom: 1px solid $grey-light3;
	padding-top: 10px;
}

.specs table {
	width: 100%;
}

.specs h1 {
	font-size: 18px;
	padding-bottom: 10px;
	border-bottom: 1px solid $grey-light3;
	margin-bottom: 10px;
	font-weight: $regular;
}

.code {
	display: none;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	line-height: 20px;
	background-color: $grey;
	color: white;
	padding: 20px;
	margin: 10px 0px 30px 0px;
	border-radius: 5px;
	line-height: 2em;
	border: 1px solid $grey;
}

.code .linenumbers {
	float: left;
	color: #8E9295;
	margin-right: 20px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;
}

.code .tag {
	color: $orange-light1;
}

.code .css {
	color: $red-light2;
}

.code .html {
	color: $yellow;
}

.code .comment {
	color: $grey-light3;
}

.code .js {
	color: $blue;
	font-style: italic;
}

.code .var {
	color: $blue;
}

.specs table {
	padding: 10px;
	font-size: 11px;
	line-height: 15px;
	border-collapse: collapse;
	margin-bottom: 30px;
}

.specs table th {
	text-align: left;
	padding: 7px;
	width: 120px;
}

.specs table td {
	padding: 7px;
	min-width: 150px;
}

.specs .title {
	font-size: 12px;
	font-weight: 700;
	text-align: left;
	border-bottom: 1px solid $grey-light3;
}

.fa-hover {
	color: $grey-light2;
	padding: 10px;
	font-size: 12px;
}

.fa-hover i {
	color: $grey;
	font-size: 30px;
	margin-right: 10px;
}

.fa-hover:hover {
	color: $grey;
}


/* Color Styling ------------------------------------------------ */

.colorbox {
	width: 110px;
	display: inline-block;
	border-radius: $radius;
	margin-top: 20px;
	font-size: 12px;
	text-transform: uppercase;
	border-top: 30px solid;
	text-align: center;
	background-color: $grey-light5;

	&.main {
		border-top-width: 40px;
		display: inline-block;
	}

}

.blue {
	border-color: $blue;
}

.blue:hover {
	border-color: $blue-hover;
}

.blue-dark {
	border-color: $blue-dark;
}

.blue-hover {
	border-color: $blue-hover;
}

.blue-light1 {
	border-color: $blue-light1;
}

.blue-light2 {
	border-color: $blue-light2;
}

.blue-light3 {
	border-color: $blue-light3;
}

.orange {
	border-color: $orange;
}

.orange:hover {
	border-color: $orange-hover;
}

.orange-dark {
	border-color: $orange-dark;
}

.orange-hover {
	border-color: $orange-hover;
}

.orange-light1 {
	border-color: $orange-light1;
}

.orange-light2 {
	border-color: $orange-light2;
}

.grey {
	border-color: $grey;
}

.grey-dark {
	border-color: $grey-dark;
}

.grey-hover {
	border-color: $grey-hover;
}

.grey-light1 {
	border-color: $grey-light1;
}

.grey-light2 {
	border-color: $grey-light2;
}

.grey-light3 {
	border-color: $grey-light3;
}

.grey-light4 {
	border-color: $grey-light4;
}

.grey-light5 {
	border-color: $grey-light5;
}

.green {
	border-color: $green;
}

.green-dark {
	border-color: $green-dark;
}

.green-light1 {
	border-color: $green-light1;
}

.green-light2 {
	border-color: $green-light2;
}

.purple {
	border-color: $purple;
}

.purple-dark {
	border-color: $purple-dark;
}

.purple-light1 {
	border-color: $purple-light1;
}

.purple-light2 {
	border-color: $purple-light2;
}

.red {
	border-color: $red;
}

.red-dark {
	border-color: $red-dark;
}

.red-light1 {
	border-color: $red-light1;
}

.red-light2 {
	border-color: $red-light2;
}

.yellow {
	border-color: $yellow;
}

.yellow-dark {
	border-color: $yellow-dark;
}

.yellow-light1 {
	border-color: $yellow-light1;
}

.yellow-light2 {
	border-color: $yellow-light2;
}

.lavender {
	border-color: $lavender;
}

.lavender-dark {
	border-color: $lavender-dark;
}

.lavender-light1 {
	border-color: $lavender-light1;
}

.lavender-light2 {
	border-color: $lavender-light2;
}

.teal {
	border-color: $teal;
}

.teal-dark {
	border-color: $teal-dark;
}

.teal-light1 {
	border-color: $teal-light1;
}

.teal-light2 {
	border-color: $teal-light2;
}

/* Continued Section Styling ------------------------------------------------ */

.continue {
	border-bottom: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}


/* Change Log Styling ------------------------------------------------ */

.change table {
	margin-top: 30px;
	font-size: 12px;
	text-align: left;
	border-radius: 3px;
	width: 100%;
}

.change table tr .title {
	background-color: $grey;
	border-bottom: 5px solid white;
	padding: 10px 15px;
	font-size: 12px;
	font-weight: 300;
	color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
}


.change table td {
	border: 1px solid white;
	padding: 10px 15px;

}

@media(max-width: 767px) {
	.change table td {
		padding: 8px;

	}
}

.change table tr:nth-child(even) td {
	background-color: $grey-light5;
}

.change table tr.date td {
	background-color: white;
	text-transform: uppercase;
	border-top: 0px solid $grey-light3;
	border-bottom: 2px solid $grey-light3;
	padding: 5px 10px;
	font-weight: $light;
	background-color: $grey-light1;
	color: white;
	letter-spacing: 2px;
}

.change table tr td.upcoming {
	color: $blue;
	text-align: center;
	font-size: 18px;
}

.change table tr td.deletion {
	color: $red;
	text-align: center;
	font-size: 18px;
}

.change table tr td.addition {
	color: $green;
	text-align: center;
	font-size: 18px;
}

.change table tr td.smallchange {
	color: $orange;
	text-align: center;
	font-size: 18px;
}

.change table tr td.bigchange {
	color: $purple;
	text-align: center;
	font-size: 18px;
}

/* Blogs ------------------------------------------------ */

.blogassets > div {
	margin-bottom: 25px;
	overflow: auto;
}

.blogassets img {
	width: 100%;
	border: 5px solid #EDEEEE;
}

.blogassets button {
	float: left;
	margin-right: 15px;
}
