/* Basic Page and Nav Styling ------------------------------------------------ */

@import '../uikit/scss/obt-variables';

form {
	margin-bottom: 20px;
}

.uk-button.active {
	background-color: $grey;
	color: white;
}

.pq-docs-section {
	margin-bottom: 0px;
	margin-top: 1px;
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: 1px solid $grey-light4;
}

.pq-docs-section:last-child {
	border-bottom: 0px;
}

@media(max-width: 991px) {

	.pq-docs-section {
		padding: 30px 0px 30px 0px;
	}

}


.backgrounds {
	position: fixed;
	text-align: center;
	top: 230px;
	right: -118px;
	width: 240px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 30px;
	color: $grey;
	padding: 14px 20px 10px 12px;
	display: block;
	-webkit-box-shadow: -1px -1px 2px $grey-light3;
			box-shadow: -1px -1px 2px $grey-light3;
	background-color: $grey-light4;
	transform: rotate(-90deg);
	-ms-transform:rotate(-90deg); /* IE 9 */
	-webkit-transform:rotate(-90deg);
	transition: .2s;
	z-index: 100;
	cursor: pointer;
}

.backgrounds:hover {
	box-shadow: -1px -1px 5px $grey-light2;
}

.backgrounds div {
	border: 2px solid white;
	display: inline-block;
	margin: 5px 2px 0px;
	width: 75px;
	color: $grey-light1;
	transition: .2s;
	cursor: pointer;
}

.backgrounds div:hover {
	box-shadow: -2px 2px 3px $grey-light2;
}

.grid-demo {
	margin-bottom: 10px;
}

.grid-demo p {
	border: 2px solid white;
	background-color: $grey-background;
	padding: 10px;
	border: 1px solid $grey-light3;
	margin-bottom: 15px;
}

.downloads {
	font-size: 12px;
}

.downloads thead {
	font-size: 14px;
}

.downloads a:link, .downloads a:active, .downloads a:visited, .downloads a:hover {
	font-size: 14px;
}

.darkbox-label {
	background-color: $grey-light4;
	border-radius: 5px 5px 0px 0px;
	padding: 10px 15px;
	font-size: 12px;
	font-weight: bold;
	display: block;
}

.darkbox {
	display: block;
	background-color: $grey;
	border-radius: 0px 0px 5px 5px;
	padding: 15px;
	color: white;
	margin-bottom: 15px;
}

/* Specs Styling ------------------------------------------------ */


.specs {
	border-radius: 3px;
	margin-top: 10px;
	padding: 0px 20px 5px;
	overflow: auto;
	z-index: 10;
	background-color: $grey-background;
	font-size: 12px;

	.uk-grid {
		margin-bottom: 10px;
	}

	&:before {
		content: "Specs";
		display: block;
		color: $grey;
		font-family: $pq-font;
		padding: 0px 0px 10px;
		margin: 0px -20px 20px;
		background-color: white;
		border-bottom: 2px solid $grey-light2;
		font-size: 16px;
	}

	.note {
		font-size: 12px;
		display: block;
		padding-bottom: 5px;

		&:before {
			content: "Design note:";
			margin-right: 5px;
			background-color: $grey-light3;
			padding: 3px 6px;
			font-weight: $bold;
			border-radius: $radius;
		}
	}

	table {
		line-height: 18px;
		border-collapse: collapse;
		width: 100%;

		td, th {
			padding: 10px;
		}

		code {
			font-size: 12px;
		}
	}
}

.code {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	line-height: 20px;
	background-color: $grey-background;
	padding: 0px 20px 20px;
	margin: 20px 0px 30px 0px;
	border-radius: 5px;
	line-height: 2em;
	color: $blue-dark;

	&:before {
		content: "Markup";
		display: block;
		color: $grey;
		font-family: $pq-font;
		padding: 0px 0px 10px;
		margin: 0px -20px 20px;
		background-color: white;
		border-bottom: 2px solid $grey-light2;
		font-size: 16px;
	}

	.linenumbers {
		float: left;
		color: #8E9295;
		margin-right: 20px;
		-webkit-user-select: none;  /* Chrome all / Safari all */
		-moz-user-select: none;     /* Firefox all */
		-ms-user-select: none;      /* IE 10+ */

		/* No support for these yet, use at own risk */
		-o-user-select: none;
		user-select: none;
	}

	.css { color: $green; }

	.html { color: $teal; }

	.comment { color: $grey-light1; }

	.js { color: $blue; font-style: italic; }

	.var { color: $blue; }
}

code.required {
	color: $red;
}

.uk-table.logos tr td:first-child {
	text-align: center;

	img {
		max-height: 30px;
	}
}

/* Color Styling ------------------------------------------------ */

.colorbox {
	width: 100px;
	display: inline-block;
	margin-top: 20px;
	margin-right: -4px;
	font-size: 12px;
	line-height: 18px;
	padding: 3px 5px;
	border-top: 25px solid;
	color: $grey-light1;

	&.main {
		display: inline-block;
		border-top-width: 30px;
	}

	.hex {
		text-transform: uppercase;
		display: block;
		font-weight: 700;
		color: $grey;
	}

}

.blue {
	border-color: $blue;
}

.blue:hover {
	border-color: $blue-hover;
}

.blue-dark {
	border-color: $blue-dark;
}

.blue-hover {
	border-color: $blue-hover;
}

.blue-light1 {
	border-color: $blue-light1;
}

.blue-light2 {
	border-color: $blue-light2;
}

.blue-light3 {
	border-color: $blue-light3;
}

.orange {
	border-color: $orange;
}

td.orange {
	color: $orange;
}

.orange:hover {
	border-color: $orange-hover;
}

.orange-dark {
	border-color: $orange-dark;
}

.orange-hover {
	border-color: $orange-hover;
}

.orange-light1 {
	border-color: $orange-light1;
}

.orange-light2 {
	border-color: $orange-light2;
}

.grey {
	border-color: $grey;
}

.grey-dark {
	border-color: $grey-dark;
}

.grey-hover {
	border-color: $grey-hover;
}

.grey-light1 {
	border-color: $grey-light1;
}

.grey-light2 {
	border-color: $grey-light2;
}

.grey-light3 {
	border-color: $grey-light3;
}

.grey-light4 {
	border-color: $grey-light4;
}

.grey-background {
	border-color: $grey-background;
}

.green {
	border-color: $green;
}

.green-dark {
	border-color: $green-dark;
}

.green-light1 {
	border-color: $green-light1;
}

.green-light2 {
	border-color: $green-light2;
}

.purple {
	border-color: $purple;
}

td.purple {
	color: $purple;
}

.purple-dark {
	border-color: $purple-dark;
}

.purple-light1 {
	border-color: $purple-light1;
}

.purple-light2 {
	border-color: $purple-light2;
}

.red {
	border-color: $red;
}

td.red {
	color: $red;
}

.red-dark {
	border-color: $red-dark;
}

.red-light1 {
	border-color: $red-light1;
}

.red-light2 {
	border-color: $red-light2;
}

.yellow {
	border-color: $yellow;
}

.yellow-dark {
	border-color: $yellow-dark;
}

.yellow-light1 {
	border-color: $yellow-light1;
}

.yellow-light2 {
	border-color: $yellow-light2;
}

.lavender {
	border-color: $lavender;
}

td.lavender {
	color: $lavender;
}

.lavender-dark {
	border-color: $lavender-dark;
}

.lavender-light1 {
	border-color: $lavender-light1;
}

.lavender-light2 {
	border-color: $lavender-light2;
}

.teal {
	border-color: $teal;
}

td.teal {
	color: $teal;
}

.teal-dark {
	border-color: $teal-dark;
}

.teal-light1 {
	border-color: $teal-light1;
}

.teal-light2 {
	border-color: $teal-light2;
}

/* Continued Section Styling ------------------------------------------------ */

.continue {
	border-bottom: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}


/* Change Log Styling ------------------------------------------------ */

.change table {
	margin-top: 30px;
	font-size: 12px;
	text-align: left;
	border-radius: 3px;
	width: 100%;
}

.change table tr .title {
	background-color: $grey;
	border-bottom: 5px solid white;
	padding: 10px 15px;
	font-size: 12px;
	font-weight: 300;
	color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.change table td {
	border: 1px solid white;
	padding: 10px 15px;

}

@media(max-width: 767px) {
	.change table td {
		padding: 8px;

	}
}

.change table tr:nth-child(even) td {
	background-color: $grey-background;
}

.change table tr.date td {
	background-color: white;
	text-transform: uppercase;
	border-top: 0px solid $grey-light3;
	border-bottom: 2px solid $grey-light3;
	padding: 5px 10px;
	font-weight: $light;
	background-color: $grey-light1;
	color: white;
	letter-spacing: 2px;
}

.change table tr td.upcoming {
	color: $blue;
	text-align: center;
	font-size: 18px;
}

.change table tr td.deletion {
	color: $red;
	text-align: center;
	font-size: 18px;
}

.change table tr td.addition {
	color: $green;
	text-align: center;
	font-size: 18px;
}

.change table tr td.smallchange {
	color: $orange;
	text-align: center;
	font-size: 18px;
}

.change table tr td.bigchange {
	color: $purple;
	text-align: center;
	font-size: 18px;
}

/* Blogs ------------------------------------------------ */

.blogassets > div {
	margin-bottom: 25px;
	overflow: auto;
}

.blogassets img {
	width: 100%;
	border: 5px solid #EDEEEE;
}

.blogassets button {
	float: left;
	margin-right: 15px;
}
