<!DOCTYPE html>
<html ng-app="uiLibrary">
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>Pronq.com Pattern Library</title>

	<!-- Icon -->

	<link rel="shortcut icon" href="imgs/assets/favicon.ico" type="image/x-icon" />

	<!-- Fonts -->

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<!-- CSS -->

	<link href='uikit/scss/uikit.css' rel='stylesheet' type='text/css'>
	<link href='includes/style.css' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="bootstrap/css/pq-slider.css">

	<!-- Javascript -->

	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

</head>
<body>


	<!-- Navigation - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

	<div id="globalnav"></div>
	<script> $("#globalnav").load("includes/nav.html"); </script>

	<div class="pq-subnav" id="subnav" data-uk-sticky>
		<div class="uk-container uk-container-center">
			<ul class="uk-subnav">
				<li><a href="#links">Links</a></li>
				<li><a href="#buttons">Buttons</a></li>
				<li><a href="#forms">Forms</a></li>
				<li><a href="#sliderbars">Slider Bars</a></li>
				<li><a href="#tooltips">Tooltips & Alerts</a></li>
				<li><a href="#progressbars">Progress Bars</a></li>
				<li><a href="#icons">Icons</a></li>
			</ul>
		</div>
	</div>

	<div class="uk-container uk-container-center">

		<!-- Links - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

		<div id="links" class="pq-docs-section">

			<h1>Links</h1>

			<p>Pellentesque sollicitudin, ligula eget semper commodo, diam turpis condimentum eros, eget mollis libero lorem nec tortor. <a href="javascript:void(0)">Maecenas</a> et pellentesque purus, vitae sagittis mauris.</p>

			<button class="uk-button uk-button-secondary" onclick="$('#specs_links').slideToggle(); $('#code_links').hide();"><i class="fa fa-pencil"></i></button>

			<button class="uk-button uk-button-secondary" onclick="$('#code_links').slideToggle(); $('#specs_links').hide();"><i class="fa fa-code"></i></button>

			<div id="specs_links" class="specs">

				<h1>Normal, Active, and Visited State</h1>
				<table>
					<tr><th>Font Family</th><td>Open Sans</td></tr>
					<tr><th>Color</th><td>Blue</td></tr>
					<tr><th>Text Decoration</th><td>None</td></tr>
				</table>

				<h1>Hover State</h1>
				<table>
					<tr><th>Text Decoration</th><td>Underline</td></tr>
				</table>

			</div>

			<div id="code_links" class="code">

				<div class="linenumbers">
					1<br/>
					2
				</div>
				<span class="comment">&lt;!-- Standard Link --&gt;</span><br/>


				&lt;<span class="tag">a</span> <span class="html">href</span>=<span class="css">"#"</span>&gt;Link&lt;/<span class="tag">a</span>&gt;<br />
			</div>
		</div>


		<!-- Buttons - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->


		<div id="buttons" class="pq-docs-section">

			<h1>Buttons</h1>

			<p>The text in all buttons should be <strong>sentence case</strong>.</p>

			<p><button class="uk-button">Default</button></p>

			<p><button class="uk-button uk-button-primary">Primary</button></p>

			<p><button class="uk-button uk-button-secondary">Secondary</button></p>

			<p><button class="uk-button uk-button-mingrey">Minimal grey</button></p>

			<div class="darkbox-label">Elements that can only be seen on dark backgrounds</div>

			<div class="darkbox">

			<button class="uk-button uk-button-minwhite">Minimal white</button>

			</div>

			<button class="uk-button uk-button-secondary" onclick="$('#specs_buttons').slideToggle(); $('#code_buttons').hide();"><i class="fa fa-pencil"></i></button>

			<button class="uk-button uk-button-secondary" onclick="$('#code_buttons').slideToggle();$('#specs_buttons').hide();"><i class="fa fa-code"></i></button>

			<div id="specs_buttons" class="specs">

				<h1>All Buttons</h1>
				<div class="row">
					<div class="col-md-6">
						<table>
							<tr><th class="state" colspan=2>Default State</th></tr>
							<tr><th>Font Family</th><td>Open Sans</td></tr>
							<tr><th>Font Weight</th><td>600</td></tr>
							<tr><th>Border Radius</th><td>5px</td></tr>
						</table>
					</div>

					<div class="col-md-6">
						<table>
							<tr><th class="state" colspan=2>Active State</th></tr>
							<tr><th>Box Shadow</th><td>inset 0 3px 5px rgba(0, 0, 0, 0.125)</td></tr>
						</table>
					</div>
				</div>

				<h1>Primary Button</h1>
				<div class="row">

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Default State</th></tr>
							<tr><th>Background Color</th><td>#FF9E1B</td></tr>
							<tr><th>Text Color</th><td>#FFFFFF</td></tr>
						</table>
					</div>

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Hover State</th></tr>
							<tr><th>Background Color</th><td>#EF9425</td></tr>
						</table>
					</div>

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Active State</th></tr>
							<tr><th>Background Color</th><td>#EF9425</td></tr>
						</table>
					</div>
				</div>

				<h1>Secondary Button</h1>
				<div class="row">

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Default State</th></tr>
							<tr><th>Background Color</th><td>#00B0B9</td></tr>
							<tr><th>Text Color</th><td>#FFFFFF</td></tr>
						</table>
					</div>

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Hover State</th></tr>
							<tr><th>Background Color</th><td>#07A0A9</td></tr>
						</table>
					</div>

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Active State</th></tr>
							<tr><th>Background Color</th><td>#07A0A9</td></tr>
						</table>
					</div>
				</div>

				<h1>Tertiary Button</h1>
				<div class="row">

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Default State</th></tr>
							<tr><th>Background Color</th><td>#53565A, .1 Opacity</td></tr>
							<tr><th>Text Color</th><td>#53565A</td></tr>
							<tr><th>Border</th><td>1px solid</td></tr>
							<tr><th>Border Color</th><td>#53565A, .2 Opacity</td></tr>
						</table>
					</div>

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Hover State</th></tr>
							<tr><th>Background Color</th><td>#53565A, .2 Opacity</td></tr>
						</table>
					</div>

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Active State</th></tr>
							<tr><th>Background Color</th><td>#53565A, .2 Opacity</td></tr>
						</table>
					</div>
				</div>

				<h1>Minimal Grey Button</h1>
				<div class="row">

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Default State</th></tr>
							<tr><th>Background Color</th><td>none</td></tr>
							<tr><th>Text Color</th><td>#53565A</td></tr>
							<tr><th>Border Width</th><td>1px</td>
							<tr><th>Border Color</th><td>#53565A, .3 Opacity</td>
						</table>
					</div>

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Hover State</th></tr>
							<tr><th>Border Color</th><td>#53565A</td>
						</table>
					</div>

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Active State</th></tr>
							<tr><th>Border Color</th><td>#53565A</td>
						</table>
					</div>
				</div>


				<h1>Minimal White Button</h1>
				<div class="row">

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Default State</th></tr>
							<tr><th>Background Color</th><td>none</td></tr>
							<tr><th>Text Color</th><td>#FFFFFF</td></tr>
							<tr><th>Border Width</th><td>1px</td>
							<tr><th>Border Color</th><td>#FFFFFF, .5 Opacity</td>
						</table>
					</div>

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Hover State</th></tr>
							<tr><th>Border Color</th><td>#FFFFFF</td>
						</table>
					</div>

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Active State</th></tr>
							<tr><th>Border Color</th><td>#FFFFFF</td>
						</table>
					</div>
				</div>

			</div>

			<div id="code_buttons" class="code">

				<div class="linenumbers">
					1<br/>
					2<br/>
					3<br/>
					4<br/>
					5<br/>
					6<br/>
					7<br/>
					8<br/>
					9<br/>
					10<br/>
					11<br/>
					12
				</div>

				<span class="comment">&lt;!-- Primary Button --&gt;</span><br/>

				&lt;<span class="tag">a</span> <span class="html">class</span>=<span class="css">"btn btn-primary"</span>&gt;Primary&lt;/<span class="tag">a</span>&gt;<br />

				<span class="comment">&lt;!-- Secondary Button --&gt;</span><br/>

				&lt;<span class="tag">a</span> <span class="html">class</span>=<span class="css">"btn btn-secondary"</span>&gt;Secondary&lt;/<span class="tag">a</span>&gt;<br />

				<span class="comment">&lt;!-- Tertiary Button --&gt;</span><br/>

				&lt;<span class="tag">a</span> <span class="html">class</span>=<span class="css">"btn btn-tertiary"</span>&gt;Tertiary&lt;/<span class="tag">a</span>&gt;<br />

				<span class="comment">&lt;!-- Minimal Grey Button --&gt;</span><br/>

				&lt;<span class="tag">a</span> <span class="html">class</span>=<span class="css">"btn btn-mingrey"</span>&gt;Minimal Grey&lt;/<span class="tag">a</span>&gt;<br />

				<span class="comment">&lt;!-- Minimal White Button --&gt;</span><br/>

				&lt;<span class="tag">a</span> <span class="html">class</span>=<span class="css">"btn btn-minwhite"</span>&gt;Minimal White&lt;/<span class="tag">a</span>&gt;<br />

				<span class="comment">&lt;!-- When using any button without a link, use the button tag --&gt;</span><br/>

				&lt;<span class="tag">button</span> <span class="html">class</span>=<span class="css">"btn btn-primary"</span>&gt;Not a link&lt;/<span class="tag">button</span>&gt;<br />


			</div>

			<h2>Sizes</h2>

			<p>Button sizes can be used with any style of buttons by pairing the classes together.</p>

			<p><button class="uk-button uk-button-large">Large</button></p>

			<p><button class="uk-button">Default</button></p>

			<p><button class="uk-button uk-button uk-button-small">Small</button></p>

			<p><button class="uk-button uk-button-mini">Mini</button></p>

			<button class="uk-button uk-button-secondary" onclick="$('#specs_buttonsizes').slideToggle(); $('#code_buttonsizes').hide();"><i class="fa fa-pencil"></i></button>

			<button class="uk-button uk-button-secondary" onclick="$('#code_buttonsizes').slideToggle(); $('#specs_buttonsizes').hide();"><i class="fa fa-code"></i></button>

			<div id="specs_buttonsizes" class="specs">

				<h1>Extra Large Buttons</h1>

				<table>
					<tr><th>Minimum Width</th><td>170px</td></tr>
					<tr><th>Height</th><td>65px</td></tr>
					<tr><th>Font Size</th><td>24px</td></tr>
					<tr><th>Padding</th><td>19px 60px</td></tr>
				</table>

				<h1>Large Buttons</h1>

				<table>
					<tr><th>Minimum Width</th><td>150px</td></tr>
					<tr><th>Height</th><td>45px</td></tr>
					<tr><th>Font Size</th><td>20px</td></tr>
					<tr><th>Padding</th><td>12px 50px</td></tr>
				</table>

				<h1>Medium (Default) Buttons</h1>

				<table>
					<tr><th>Minimum Width</th><td>130px</td></tr>
					<tr><th>Height</th><td>40px</td></tr>
					<tr><th>Font Size</th><td>18px</td></tr>
					<tr><th>Padding</th><td>10px 40px</td></tr>
				</table>

				<h1>Small Buttons</h1>

				<table>
					<tr><th>Minimum Width</th><td>90px</td></tr>
					<tr><th>Height</th><td>30px</td></tr>
					<tr><th>Font Size</th><td>14px</td></tr>
					<tr><th>Padding</th><td>4px 20px</td></tr>
				</table>

			</div>

			<div id="code_buttonsizes" class="code">

				<div class="linenumbers">
					1<br/>
					2<br/>
					3<br/>
					4<br/>
					5<br/>
					6<br/>
					7<br/>
					8
				</div>

				<span class="comment">&lt;!-- X-Large Button --&gt;</span><br/>

				&lt;<span class="tag">button</span> <span class="html">class</span>=<span class="css">"btn btn-xl"</span>&gt;X-Large&lt;/<span class="tag">button</span>&gt;<br />


				<span class="comment">&lt;!-- Large Button --&gt;</span><br/>

				&lt;<span class="tag">button</span> <span class="html">class</span>=<span class="css">"btn btn-lg"</span>&gt;Large&lt;/<span class="tag">button</span>&gt;<br />


				<span class="comment">&lt;!-- Medium (Default) Button --&gt;</span><br/>

				&lt;<span class="tag">button</span> <span class="html">class</span>=<span class="css">"btn"</span>&gt;Medium&lt;/<span class="tag">button</span>&gt;<br />

				<span class="comment">&lt;!-- Small Button --&gt;</span><br/>

				&lt;<span class="tag">button</span> <span class="html">class</span>=<span class="css">"btn btn-sm"</span>&gt;Small&lt;/<span class="tag">button</span>&gt;<br />


			</div>

			<h2>Buttons with Icons</h2>

			<p>All buttons styles and sizes can be used with icons without any extra specifications.</p>


			<p><button class="uk-button"><i class="fa fa-download"></i> Download</button></p>

			<h2>Disabled Buttons</h2>

			<p>All buttons have the same disabled state.</p>

			<p><button class="uk-button" disabled>Disabled</button></p>

		</div>

		<!-- Form Fields - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

		<div id="forms" class="pq-docs-section">

			<h1>Forms</h1>

			<h2>Input Boxes</h2>

			<div class="uk-grid">

				<form class="uk-form">

					<div class="uk-form-row js-hide-label">
						<input placeholder="Email" class="uk-width-1-1" title="Email" id="email">
					</div>

					<div class="uk-form-row has-error js-hide-label">
						<input class="uk-width-1-1" class="uk-form-controls" placeholder="Phone" id="phone">
						<div class="error">Input with error</div>
					</div>

					<div class="uk-form-row js-hide-label uk-width-1-1">
						<input class="uk-width-1-1" placeholder="Disabled" id="disabled" disabled>
					</div>

					<div class="uk-form-row uk-grid uk-grid-small">

						<div class="uk-width-1-2">
							<input placeholder="First Name" class="uk-width-1-1" title="First Name" id="firstname">
						</div>

						<div class="uk-width-1-2">
							<input placeholder="Last Name" class="uk-width-1-1" title="Last Name" id="lastname">
						</div>
					</div>

				</form>

			</div>

			<button class="uk-button uk-button-secondary" onclick="$('#specs_inputs').slideToggle(); $('#code_inputs').hide();"><i class="fa fa-pencil"></i></button>

			<div id="specs_inputs" class="specs">

				<h1>Input Box</h1>
				<div class="row">

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Default State</th></tr>
							<tr><th>Background Color</th><td>#FFFFFF</td></tr>
							<tr><th>Text Color</th><td>#53565A</td></tr>
							<tr><th>Placeholder Text Color</th><td>#BABBBD</td></tr>
							<tr><th>Border Width</th><td>1px</td>
							<tr><th>Border Color</th><td>#DDDDDE</td>
							<tr><th>Height</th><td>40px</td></tr>
							<tr><th>Font Size</th><td>14px</td></tr>
						</table>
					</div>

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Active/Focused State</th></tr>
							<tr><th>Border Color</th><td>#00B0B9</td></tr>
							<tr><th>Height</th><td>60px</td></tr>
						</table>
					</div>

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Active/Focused State Label</th></tr>
							<tr><th>Text Color</th><td>#BABBBD</td></tr>
							<tr><th>Font Size</th><td>10px</td></tr>
							<tr><th>Font Weight</th><td>700</td></tr>
						</table>
					</div>

				</div>

				<h1>Input Box, Special Cases</h1>
				<div class="row">

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Input Box with Error</th></tr>
							<tr><th>Border Color</th><td>#AF3A2B</td>
							</table>
						</div>

						<div class="col-md-4">
							<table>
								<tr><th class="state" colspan=2>Error Message</th></tr>
								<tr><th>Text Color</th><td>#AF3A2B</td></tr>
								<tr><th>Background Color</th><td>#AF3A2B, .05 Opacity</td></tr>
								<tr><th>Font Size</th><td>12px</td></tr>
							</table>
						</div>

						<div class="col-md-4">
							<table>
								<tr><th class="state" colspan=2>Disabled State</th></tr>
								<tr><th>Background Color</th><td>#EDEEEE</td></tr>
							</table>
						</div>

					</div>

					<h1>Input Box, Label</h1>

					<table>
						<tr><th>Color</th><td>#BABBBD</td></tr>
						<tr><th>Font Size</th><td>10px</td></tr>
						<tr><th>Font Weight</th><td>400</td></tr>
						<tr><th>Position</th><td>Top: -12px, Left: 11px</td></tr>
						<tr><th>Padding</th><td>0px 4px</td></tr>
					</table>

				</div>

				<h2>Text Areas</h2>

					<form class="uk-form">
						<div class="uk-form-row js-hide-label">
							<textarea placeholder="Sample" class="uk-width-1-3" id="area"></textarea>
						</div>
					</form>

					<button class="uk-button uk-button-secondary" onclick="$('#specs_textareas').slideToggle(); $('#code_textareas').hide();"><i class="fa fa-pencil"></i></button>

					<div id="specs_textareas" class="specs">

						<h1>Textarea</h1>
						<div class="row">

							<div class="col-md-6">
								<table>
									<tr><th class="state" colspan=2>Default State</th></tr>
									<tr><th>Background Color</th><td>#FFFFFF</td></tr>
									<tr><th>Text Color</th><td>#53565A</td></tr>
									<tr><th>Placeholder Text Color</th><td>#BABBBD</td></tr>
									<tr><th>Border Width</th><td>1px</td>
									<tr><th>Border Color</th><td>#DDDDDE</td>
								</table>
							</div>

							<div class="col-md-6">
								<table>
									<tr><th class="state" colspan=2>Active/Focused State</th></tr>
									<tr><th>Border Color</th><td>#00B0B9</td></tr>
									<tr><th>Height</th><td>60px</td></tr>
								</table>
							</div>

						</div>

						<h1>Textarea, Disabled</h1>

						<table>
							<tr><th>Background Color</th><td>#EDEEEE</td></tr>
						</table>

					</div>

					<h2>Dropdown Menu</h2>

					Design note, dropdown menu items should be in alphabetical order. <br /> <br />


					<form class="uk-form">

						<select class="uk-width-1-3">
							<option>Option 1</option>
							<option>Option 2</option>
							<option>Option 3</option>
						</select>

					</form>

					<button class="uk-button uk-button-secondary" onclick="$('#specs_dropdown').slideToggle(); $('#code_dropdown').hide();"><i class="fa fa-pencil"></i></button>

					<div id="specs_dropdown" class="specs">

						<h1>Dropdown Menu, Button</h1>

						<div class="row">

							<div class="col-md-6">
								<table>
									<tr><th class="state" colspan=2>Default State</th></tr>
									<tr><th>Background Color</th><td>#DDDDDE</td></tr>
									<tr><th>Caret Color</th><td>#BABBBD</td></tr>
								</table>
							</div>

							<div class="col-md-6">
								<table>
									<tr><th class="state" colspan=2>Hover State</th></tr>
									<tr><th>Background Color</th><td>#CBCCCD</td></tr>
									<tr><th>Caret Color</th><td>#75787B</td></tr>
								</table>
							</div>

						</div>

					</div>

					<h2>Checkboxes & Radio Buttons</h2>

					<form class="uk-form">
						<div class="uk-form-row">
							<div class="uk-form-controls uk-form-controls-text">
								<input type="checkbox" id="checkbox1" checked>
								<label for="checkbox1">Checkbox example</label>
							</div>
						</div>
						<div class="uk-form-row">
							<div class="uk-form-controls uk-form-controls-text">
								<input name="radiotest" type="radio" id="radio1" checked>
								<label for="radio1">Radio example</label>
							</div>

							<div class="uk-form-controls uk-form-controls-text">
								<input name="radiotest" type="radio" id="radio2" checked>
								<label for="radio2">Radio example</label>
							</div>
						</div>
					</form>


					<button class="uk-button uk-button-secondary" onclick="$('#specs_checkradio').slideToggle(); $('#code_checkradio').hide();"><i class="fa fa-pencil"></i></button>

					<div id="specs_checkradio" class="specs">

						<h1>Checkbox</h1>

						<div class="row">

							<div class="col-md-4">
								<table>
									<tr><th class="state" colspan=2>Unselected Default State</th></tr>
									<tr><th>FA Icon</th><td>fa-square</td></tr>
									<tr><th>Color</th><td>#CCEFF1</td></tr>
								</table>
							</div>

							<div class="col-md-4">
								<table>
									<tr><th class="state" colspan=2>Unselected Hover State</th></tr>
									<tr><th>FA Icon</th><td>fa-check-square</td></tr>
									<tr><th>Color</th><td>#CCEFF1</td></tr>
								</table>
							</div>

							<div class="col-md-4">
								<table>
									<tr><th class="state" colspan=2>Selected Default and Hover States</th></tr>
									<tr><th>FA Icon</th><td>fa-check-square</td></tr>
									<tr><th>Color</th><td>#00B0B9</td></tr>
								</table>
							</div>

						</div>

						<h1>Radio Button</h1>

						<div class="row">

							<div class="col-md-4">
								<table>
									<tr><th class="state" colspan=2>Unselected Default State</th></tr>
									<tr><th>FA Icon</th><td>fa-circle-o</td></tr>
									<tr><th>Color</th><td>#CCEFF1</td></tr>
								</table>
							</div>

							<div class="col-md-4">
								<table>
									<tr><th class="state" colspan=2>Unselected Hover State</th></tr>
									<tr><th>FA Icon</th><td>fa-dot-circle-o</td></tr>
									<tr><th>Color</th><td>#CCEFF1</td></tr>
								</table>
							</div>

							<div class="col-md-4">
								<table>
									<tr><th class="state" colspan=2>Selected Default and Hover States</th></tr>
									<tr><th>FA Icon</th><td>fa-dot-circle-o</td></tr>
									<tr><th>Color</th><td>#00B0B9</td></tr>
								</table>
							</div>

						</div>

					</div>

					<h2>Buttons</h2>

					<div class="uk-grid">

						<form class="uk-form uk-width-1-1">

							<div class="uk-form-row uk-width-1-3">
								<button class="uk-button uk-button-primary uk-width-1-1">Next</button>
							</div>

							<div class="uk-form-row uk-width-1-3 uk-grid uk-grid-small">

								<div class="uk-width-1-2">
									<button class="uk-button uk-button-secondary uk-width-1-1">Cancel</button>
								</div>

								<div class="uk-width-1-2">
									<button class="uk-button uk-button-primary uk-width-1-1">Checkout</button>
								</div>

							</div>

						</form>

					</div>


				<button class="uk-button uk-button-secondary" onclick="$('#specs_formbuttons').slideToggle(); $('#code_formbuttons').hide();"><i class="fa fa-pencil"></i></button>


				<div id="specs_formbuttons" class="specs">

					<h1>Single Button</h1>

					<table>
						<tr><th>Button Class</th><td>Primary</td></tr>
						<tr><th>Width</th><td>100%</td></tr>
					</table>


					<h1>Button Group</h1>

					<div class="row">

						<div class="col-md-6">
							<table>
								<tr><th class="state" colspan=2>Tertiary Button</th></tr>
								<tr><th>Button Class</th><td>Tertiary</td></tr>
								<tr><th>Width</th><td>50% - 4px</td></tr>
							</table>
						</div>

						<div class="col-md-6">
							<table>
								<tr><th class="state" colspan=2>Primary Button</th></tr>
								<tr><th>Button Class</th><td>Primary or Secondary</td></tr>
								<tr><th>Width</th><td>50% - 4px</td></tr>
							</table>
						</div>

					</div>

				</div>

			</div>

			<!-- SLIDER BARS - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

			<div id="sliderbars" class="pq-docs-section" style="clear:both;" ng-controller="sliderDemoCtrl">

				<h1>Slider Bars</h1>

				<h2>Labeled Slider</h2>
				<span class="slider-name">Example Slider Name</span>
				<div class="slider-group">
					<span class="minlabel">0</span>
					<span class="maxlabel">100</span>
					<div ui-slider="{ range: 'min' }" min="0" max="100" ng-model="demoVals.sliderExample1"></div>
					<input type="text" ng-model="demoVals.sliderExample1" />
				</div><br/>
				<h2>Unlabeled Slider</h2>
				<div class="slider-group">
					<span class="minlabel">3</span>
					<span class="maxlabel">12</span>
					<div ui-slider="{ range: 'min' }" min="3" max="12" ng-model="demoVals.sliderExample2"></div>
					<input type="text" ng-model="demoVals.sliderExample2" />
				</div>

				<script type="text/javascript" src="js/ui-slider.js"></script>
				<script>
					var app = angular.module('uiLibrary', ['ui.slider']);
					app.controller('sliderDemoCtrl', function($scope) {

						$scope.demoVals = {
							sliderExample1:     0,
							sliderExample2:     3,
							options: {
								orientation: 'horizontal',
								range: 'min'
							}
						};
					});
				</script>

				<br/>

				<button class="uk-button uk-button-secondary" onclick="$('#specs_sliders').slideToggle(); $('#code_sliders').hide();"><i class="fa fa-pencil"></i></button>

				<button class="uk-button uk-button-secondary" onclick="$('#code_sliders').slideToggle(); $('#specs_sliders').hide();"><i class="fa fa-code"></i></button>

				<div id="specs_sliders" class="specs">

					<h1>Input Field</h1>

					<table>
						<tr><th>Width</th><td>50px</td></tr>
						<tr><th>Height</th><td>45px</td></tr>
						<tr><th>Font Size</th><td>22px</td></tr>
					</table>


					<h1>Min and Max Labels</h1>

					<table>
						<tr><th>Font Size</th><td>11px</td></tr>
						<tr><th>Color</th><td>#BABBBD</td></tr>
					</table>

					<h1>Slider Bar</h1>

					<div class="row">

						<div class="col-md-6">
							<table>
								<tr><th class="state" colspan=2>Default State</th></tr>
								<tr><th>Background Color</th><td>#DDDDDE</td></tr>
								<tr><th>Width</th><td>450px</td></tr>
								<tr><th>Height</th><td>4px</td></tr>
							</table>
						</div>

						<div class="col-md-6">
							<table>
								<tr><th class="state" colspan=2>Highlighted State</th></tr>
								<tr><th>Background Color</th><td>#00B0B9</td></tr>
							</table>
						</div>

					</div>

					<h1>Slider Control</h1>
					<div class="row">

						<div class="col-md-6">
							<table>
								<tr><th class="state" colspan=2>Default State</th></tr>
								<tr><th>Background Color</th><td>#BABBBD</td></tr>
								<tr><th>Border Color</th><td>#75787B</td></tr>
								<tr><th>Border Width</th><td>6px</td></tr>
								<tr><th>Width</th><td>20px</td></tr>
								<tr><th>Height</th><td>20px</td></tr>
								<tr><th>Box Shadow</th><td>inset 0 1px 2px rgba(0, 0, 0, 0.15)</td></tr>
							</table>
						</div>

						<div class="col-md-6">
							<table>
								<tr><th class="state" colspan=2>Hover and Active State</th></tr>
								<tr><th>Border Color</th><td>#53565A</td></tr>
								<tr><th>Box Shadow</th><td>inset 0 1px 2px rgba(0, 0, 0, 0.35)</td></tr>
							</table>
						</div>

					</div>

				</div>
			</div>

		</div>




		<!-- Tooltips - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

		<div id="tooltips" class="pq-docs-section">

			<h1 style="margin-bottom: 30px;">Tooltips & Alerts</h1>

			<h2>Tooltips</h2>

			<abbr title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus massa id justo porta, nec viverra neque euismod. Cras quis tellus in nisi fermentum gravida." rel="tooltip">Standalone tooltip</abbr><br/><br/>
			<abbr title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus massa id justo porta, nec viverra neque euismod. Cras quis tellus in nisi fermentum gravida." rel="inlinetooltip">Inline tooltip</abbr>. This is an example of a tooltip.<br/><br/>
			<button class="uk-button uk-button-secondary" onclick="$('#specs_tooltips').slideToggle(); $('#code_tooltips').hide();"><i class="fa fa-pencil"></i></button>

			<button class="uk-button uk-button-secondary" onclick="$('#code_tooltips').slideToggle(); $('#specs_tooltips').hide();"><i class="fa fa-code"></i></button>

			<div id="specs_tooltips" class="specs">

				<h1>Inline Tooltip Text</h1>

				<div class="row">
					<div class="col-sm-6">
						<table>
							<tr><th class="state" colspan=2>Default State (After)</th></tr>
							<tr><th>Icon</th><td>fa-info-circle</td></tr>
							<tr><th>Color</th><td>#BABBBD</td></tr>
						</table>
					</div>
					<div class="col-sm-6">
						<table>
							<tr><th class="state" colspan=2>Hover State</th></tr>
							<tr><th>Underline</th><td>1px dotted #00B9B0</td></tr>
							<tr><th>Cursor</th><td>help</td></tr>
						</table>
					</div>
				</div>

				<h1>Inline Tooltip Text</h1>

				<table>
					<tr><th>Underline</th><td>1px dotted #00B9B0</td></tr>
					<tr><th>Cursor</th><td>help</td></tr>
				</table>


				<h1>Tooltip</h1>

				<div class="row">

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Box</th></tr>
							<tr><th>Background Color</th><td>#DDDDDE, .95 opacity</td></tr>
							<tr><th>Min Width</th><td>250px</td></tr>
							<tr><th>Border Radius</th><td>5px</td></tr>
							<tr><th>Arrow Height</th><td>10px</td></tr>
							<tr><th>Arrow Width</th><td>20px</td></tr>
						</table>
					</div>

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Text</th></tr>
							<tr><th>Color</th><td>white</td></tr>
							<tr><th>Font Size</th><td>12px</td></tr>
							<tr><th>Line Height</th><td>24px</td></tr>
							<tr><th>Padding</th><td>15px</td></tr>
						</table>
					</div>

					<div class="col-md-4">
						<table>
							<tr><th class="state" colspan=2>Animation</th></tr>
							<tr><th>Duration</th><td>50 milliseconds</td></tr>
							<tr><th>Movement</th><td>10px Down</td></tr>
						</table>
					</div>

				</div>

			</div>


			<div id="code_tooltips" class="code">

				<div class="linenumbers">
					1<br/>
					2<br/>
					3<br/>
					4<br/>
					5
				</div>

				<span class="comment">&lt;!-- Standalone Tooltip --&gt;</span><br/>

				&lt;<span class="tag">abbr</span> <span class="html">rel</span>=<span class="css">"tooltip"</span> <span class="html">title</span>=<span class="css">"Tooltip content."</span>&gt;Tagged Text&lt;/<span class="tag">abbr</span>&gt;<br/><br/>

				<span class="comment">&lt;!-- Inline Tooltip --&gt;</span><br/>

				&lt;<span class="tag">abbr</span> <span class="html">rel</span>=<span class="css">"inlinetooltip"</span> <span class="html">title</span>=<span class="css">"Tooltip content."</span>&gt;Tagged Text&lt;/<span class="tag">abbr</span>&gt;

			</div>

			<h2>Alerts</h2>

			<div class="alert alert-success"><i class="fa fa-check fa-fw"></i> Successful Alert <a href="#" class="alert-link">with example link</a></div>
			<div class="alert alert-info"><i class="fa fa-info-circle fa-fw"></i> Informative Alert</div>
			<div class="alert alert-warning"><i class="fa fa-warning fa-fw"></i> Warning Alert</div>
			<div class="alert alert-danger"><i class="fa fa-times-circle fa-fw"></i> Error Alert</div>

			Some alerts can be closed by the user. Below is an example of when. They can be created with any style of alert<br/><br/>

			<div class="alert alert-warning alert-dismissable"><button class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times"></i></button>Closable Alert</div>


			<button class="uk-button uk-button-secondary" onclick="$('#specs_alerts').slideToggle(); $('#code_alerts').hide();"><i class="fa fa-pencil"></i></button>

			<button class="uk-button uk-button-secondary" onclick="$('#code_alerts').slideToggle(); $('#specs_alerts').hide();"><i class="fa fa-code"></i></button>

			<div id="specs_alerts" class="specs">

				<h1>Alert Boxes</h1>

				<table>
					<tr><th>Font Size</th><td>14px</td></tr>
					<tr><th>Line Height</th><td>24px</td></tr>
					<tr><th>Padding</th><td>10px 15px</td></tr>
					<tr><th>Border Radius</th><td>5px</td></tr>
					<tr><th>Padding</th><td>7px 15px</td></tr>
				</table>

				<h1>Box Coloring</h1>

				<div class="row">
					<div class="col-md-6">
						<table>
							<tr><th class="state" colspan=2>Success Alert</th></tr>
							<tr><th>Icon</th><td>fa-check</td></tr>
							<tr><th>Color</th><td>#005E3E</td></tr>
							<tr><th>Border Color</th><td>#B5D0C7</td></tr>
							<tr><th>Background Color</th><td>#ECF5E0</td></tr>
						</table>
					</div>
					<div class="col-md-6">
						<table>
							<tr><th class="state" colspan=2>Warning Alert</th></tr>
							<tr><th>Icon</th><td>fa-warning</td></tr>
							<tr><th>Color</th><td>#AD8007</td></tr>
							<tr><th>Border Color</th><td>#F9E981</td></tr>
							<tr><th>Background Color</th><td>#FDFADF</td></tr>
						</table>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<table>
							<tr><th class="state" colspan=2>Info Alert</th></tr>
							<tr><th>Icon</th><td>fa-info-circle</td></tr>
							<tr><th>Color</th><td>#006478</td></tr>
							<tr><th>Border Color</th><td>#AECDD3</td></tr>
							<tr><th>Background Color</th><td>#E1EDF0</td></tr>
						</table>
					</div>
					<div class="col-md-6">
						<table>
							<tr><th class="state" colspan=2>Error Alert</th></tr>
							<tr><th>Icon</th><td>fa-times-circle</td></tr>
							<tr><th>Color</th><td>#AF3A2B</td></tr>
							<tr><th>Border Color</th><td>#E5C0BD</td></tr>
							<tr><th>Background Color</th><td>#F5E9E7</td></tr>
						</table>
					</div>
				</div>

			</div>


			<div id="code_alerts" class="code">

				<div class="linenumbers">
					1<br/>
					2<br/>
					3<br/>
					4<br/>
					5<br/>
					6<br/>
					7<br/>
					8<br/>
					9<br/>
					10<br/>
					11<br/>
					12<br/>
					13
				</div>

				<span class="comment">&lt;!-- Success Alert --&gt;</span><br/>

				&lt;<span class="tag">div</span> <span class="html">class</span>=<span class="css">"alert alert-success"</span>&gt;&lt;<span class="tag">i</span> <span class="html">class</span>=<span class="css">"fa fa-check fa-fw"</span>&gt;&lt;/<span class="tag">i</span>&gt;Success Alert Text&lt;/<span class="tag">div</span>&gt;<br/>

				<span class="comment">&lt;!-- Warning Alert --&gt;</span><br/>

				&lt;<span class="tag">div</span> <span class="html">class</span>=<span class="css">"alert alert-warning"</span>&gt;&lt;<span class="tag">i</span> <span class="html">class</span>=<span class="css">"fa fa-exclamation fa-fw"</span>&gt;&lt;/<span class="tag">i</span>&gt;Warning Alert Text&lt;/<span class="tag">div</span>&gt;<br/>

				<span class="comment">&lt;!-- Info Alert --&gt;</span><br/>

				&lt;<span class="tag">div</span> <span class="html">class</span>=<span class="css">"alert alert-info"</span>&gt;&lt;<span class="tag">i</span> <span class="html">class</span>=<span class="css">"fa fa-info-circle fa-fw"</span>&gt;&lt;/<span class="tag">i</span>&gt;Info Alert Text&lt;/<span class="tag">div</span>&gt;<br/>

				<span class="comment">&lt;!-- Error Alert --&gt;</span><br/>

				&lt;<span class="tag">div</span> <span class="html">class</span>=<span class="css">"alert alert-danger"</span>&gt;&lt;<span class="tag">i</span> <span class="html">class</span>=<span class="css">"fa fa-times-circle fa-fw"</span>&gt;&lt;/<span class="tag">i</span>&gt;Error Alert Text&lt;/<span class="tag">div</span>&gt;<br/>

				<span class="comment">&lt;!-- Alert with link (can be used with any style) --&gt;</span><br/>

				&lt;<span class="tag">div</span> <span class="html">class</span>=<span class="css">"alert alert-error"</span>&gt;&lt;<span class="tag">i</span> <span class="html">class</span>=<span class="css">"fa fa-times-circle fa-fw"</span>&gt;&lt;/<span class="tag">i</span>&gt;Error Alert Text &lt;<span class="tag">a</span> <span class="html">class</span>=<span class="css">"alert-link"</span> <span class="html">href</span>=<span class="css">"#"</span>&gt;Example Link&lt;/<span class="tag">a</span>&gt;&lt;/<span class="tag">div</span>&gt;<br/>

				<span class="comment">&lt;!-- Closable Alert (can be used with any style) --&gt;</span><br/>

				&lt;<span class="tag">div</span> <span class="html">class</span>=<span class="css">"alert alert-error alert-dismissable"</span>&gt;&lt;<span class="tag">button</span> <span class="html">class</span>=<span class="css">"close"</span> <span class="html">aria-hidden</span>=<span class="css">"true"</span> <span class="html">data-dismiss</span>=<span class="css">"alert"</span> <span class="html">type</span>=<span class="css">"button"</span>&gt;&lt;/<span class="tag">button</span>&gt;&lt;<span class="tag">i</span> <span class="html">class</span>=<span class="css">"fa fa-times-circle fa-fw"</span>&gt;&lt;/<span class="tag">i</span>&gt;Error Alert Text&lt;/<span class="tag">div</span>&gt;<br/>

			</div>

		</div>

		<!-- Progress Sliders - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

		<div id="progressbars" class="pq-docs-section">

			<h1>Progress Bars</h1>

			<h2>Progressing</h2>

			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
					<span class="sr-only">20% Complete</span>
				</div>
			</div>

			<div class="progress">
				<div class="progress-bar progress-bar-blue" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
					<span class="sr-only">40% Complete</span>
				</div>
			</div>

			<h2>Continuous</h2>

			<div class="progress progress-striped active">
				<div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
					<span class="sr-only">Loading</span>
				</div>
			</div>

			<div class="progress progress-striped active">
				<div class="progress-bar progress-bar-blue"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
					<span class="sr-only">Loading</span>
				</div>
			</div>

			<h2>Continuous Spinner</h2>
			<i class="fa fa-spinner fa-spin pq-spinner grey"></i>&nbsp;&nbsp;
			<i class="fa fa-spinner fa-spin pq-spinner orange"></i><br/><br/>


			<button class="uk-button uk-button-secondary" onclick="$('#specs_progressbars').slideToggle(); $('#code_progressbars').hide();"><i class="fa fa-pencil"></i></button>

			<button class="uk-button uk-button-secondary" onclick="$('#code_progressbars').slideToggle(); $('#specs_progressbars').hide();"><i class="fa fa-code"></i></button>

			<a href="downloads/spinner.txt" target="blank" class="uk-button uk-button-secondary"><i class="fa fa-file-text"></i></a>

			<div id="specs_progressbars" class="specs">

				<h1>Progressing</h1>

				<div class="row">

					<div class="col-md-6">
						<table>
							<tr><th class="state" colspan=2>Background Bar</th></tr>
							<tr><th>Height</th><td>20px</td></tr>
							<tr><th>Border Radius</th><td>5px</td></tr>
							<tr><th>Background Color</th><td>#EDEEEE</td></tr>
							<tr><th>Box Shadow</th><td>inset 0 1px 2px rgba(0, 0, 0, 0.1)</td></tr>
						</table>
					</div>

					<div class="col-md-6">
						<table>
							<tr><th class="state" colspan=2>Progress Bar</th></tr>
							<tr><th>Background Color</th><td>#00B0B9 or #0A5A73</td></tr>
						</table>
					</div>

				</div>

				<h1>Continuous Spinner</h1>

				<div class="row">

					<div class="col-md-6">
						<table>
							<tr><th class="state" colspan=2>Spinner (Orange)</th></tr>
							<tr><th>FA Icon</th><td>fa-spinner</td></tr>
							<tr><th>Font Size</th><td>80px</td></tr>
							<tr><th>Color</th><td>#FF9E1B</td></tr>
							<tr><th>Text Shadow</th><td>1px 1px 0px #DDDDDE</td></tr>
						</table>
					</div>

					<div class="col-md-6">
						<table>
							<tr><th class="state" colspan=2>Spinner (Grey)</th></tr>
							<tr><th>Color</th><td>#BABBBD</td></tr>
						</table>
					</div>

				</div>

			</div>

			<div id="code_progressbars" class="code">

				<div class="linenumbers">
					1<br/>
					2<br/>
					3<br/>
					4<br/>
					5<br/>
					6<br/>
					7<br/>
					8<br/>
					9<br/>
					10<br/>
					11<br/>
					12<br/>
					13<br/>
					14<br/>
					15<br/>
					16<br/>
					17<br/>
					18<br/>
					19<br/>
					20<br/>
					21<br/>
					22<br/>
					23<br/>
					24<br/>
					25<br/>
					26<br/>
					27<br/>
					28
				</div>

				<span class="comment">&lt;!-- Teal Progress Bar (at 20%) --&gt;</span><br/>

				&lt;<span class="tag">div</span> <span class="html">class</span>=<span class="css">"progress"</span>&gt;<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="tag">div</span> <span class="html">class</span>=<span class="css">"progress-bar"</span> <span class="html">role</span>=<span class="css">"progressbar"</span> <span class="html">aria-valuenow</span>=<span class="css">"20"</span> <span class="html">aria-valuemin</span>=<span class="css">"0"</span> <span class="html">aria-valuemax</span>=<span class="css">"100"</span> <span class="html">style</span>=<span class="css">"width: 20%;"</span>&gt;<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="tag">span</span> <span class="html">class</span>=<span class="css">"sr-only"</span>&gt;20% Complete&lt;/<span class="tag">span</span>&gt;<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="tag">div</span>&gt;<br />
				&lt;/<span class="tag">div</span>&gt;<br />

				<span class="comment">&lt;!-- Blue Progress Bar (at 20%) --&gt;</span><br/>

				&lt;<span class="tag">div</span> <span class="html">class</span>=<span class="css">"progress"</span>&gt;<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="tag">div</span> <span class="html">class</span>=<span class="css">"progress-bar progress-bar-blue"</span> <span class="html">role</span>=<span class="css">"progressbar"</span> <span class="html">aria-valuenow</span>=<span class="css">"20"</span> <span class="html">aria-valuemin</span>=<span class="css">"0"</span> <span class="html">aria-valuemax</span>=<span class="css">"100"</span> <span class="html">style</span>=<span class="css">"width: 20%;"</span>&gt;<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="tag">span</span> <span class="html">class</span>=<span class="css">"sr-only"</span>&gt;20% Complete&lt;/<span class="tag">span</span>&gt;<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="tag">div</span>&gt;<br />
				&lt;/<span class="tag">div</span>&gt;<br />

				<span class="comment">&lt;!-- Teal Continuous Bar --&gt;</span><br/>

				&lt;<span class="tag">div</span> <span class="html">class</span>=<span class="css">"progress progress-striped active"</span>&gt;<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="tag">div</span> <span class="html">class</span>=<span class="css">"progress-bar progress-bar-blue"</span> <span class="html">role</span>=<span class="css">"progressbar"</span> <span class="html">aria-valuenow</span>=<span class="css">"100"</span> <span class="html">aria-valuemin</span>=<span class="css">"0"</span> <span class="html">aria-valuemax</span>=<span class="css">"100"</span> <span class="html">style</span>=<span class="css">"width: 100%;"</span>&gt;<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="tag">span</span> <span class="html">class</span>=<span class="css">"sr-only"</span>&gt;Loading&lt;/<span class="tag">span</span>&gt;<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="tag">div</span>&gt;<br />
				&lt;/<span class="tag">div</span>&gt;<br />

				<span class="comment">&lt;!-- Blue Continuous Bar --&gt;</span><br/>

				&lt;<span class="tag">div</span> <span class="html">class</span>=<span class="css">"progress progress-striped active"</span>&gt;<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="tag">div</span> <span class="html">class</span>=<span class="css">"progress-bar"</span> <span class="html">role</span>=<span class="css">"progressbar"</span> <span class="html">aria-valuenow</span>=<span class="css">"100"</span> <span class="html">aria-valuemin</span>=<span class="css">"0"</span> <span class="html">aria-valuemax</span>=<span class="css">"100"</span> <span class="html">style</span>=<span class="css">"width: 100%;"</span>&gt;<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="tag">span</span> <span class="html">class</span>=<span class="css">"sr-only"</span>&gt;Loading&lt;/<span class="tag">span</span>&gt;<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/<span class="tag">div</span>&gt;<br />
				&lt;/<span class="tag">div</span>&gt;<br />
				<span class="comment">&lt;!-- Grey Continuous Spinner --&gt;</span><br/>

				&lt;<span class="tag">i</span> <span class="html">class</span>=<span class="css">"fa fa-spinner fa-spin pq-spinner grey"</span>&gt;&lt;/<span class="tag">i</span>&gt;<br/>
				<span class="comment">&lt;!-- Orange Continuous Spinner --&gt;</span><br/>

				&lt;<span class="tag">i</span> <span class="html">class</span>=<span class="css">"fa fa-spinner fa-spin pq-spinner orange"</span>&gt;&lt;/<span class="tag">i</span>&gt;

			</div>

		</div>



		<!-- Glyph States - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

		<div id="icons" class="pq-docs-section">

			<h1>Icons</h1>

			<p>We use the <a href="http://fontawesome.io" target="blank">Font Awesome icon library</a>. This library is constantly being updated and improved so please visit their page to see the most current list of icons in the library.</p>

			<a href="downloads/fonts/fontawesome.ai" class="uk-button uk-button-secondary"><i class="fa fa-floppy-o"></i></a>

			<button class="uk-button uk-button-secondary" onclick="$('#code_icons').slideToggle();"><i class="fa fa-code"></i></button>

			<div id="code_icons" class="code">

				<div class="linenumbers">
					1<br/>
					2<br/>
					3<br/>
					4<br/>
					5<br/>
					6<br/>
					7
				</div>

				<span class="comment">&lt;!-- Include the following in the head section of your page --&gt;</span><br/>

				&lt;<span class="tag">head</span>&gt;<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="tag">link</span> <span class="html">href</span>=<span class="css">"http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"</span> <span class="html">rel</span>=<span class="css">"stylesheet"</span>&gt;<br/>
				&lt;/<span class="tag">head</span>&gt;<br/>
				...<br/>
				<span class="comment">&lt;!-- Use the provided class for the icon you wish to use, the example below is for the adjust icon --&gt;</span><br/>

				&lt;<span class="tag">i</span> <span class="html">class</span>=<span class="css">"fa fa-adjust"</span>&gt;&lt;/<span class="tag">i</span>&gt;

			</div>

		</div>

	</div>

	<div id="footer" class="pq-footer"></div>
	<script>$("#footer").load("includes/footer.html");</script>

	<!-- After load JavaScript files -->

	<script src="uikit/js/uikit.min.js"></script>
	<script src="uikit/js/core/dropdown.min.js"></script>
	<script src="uikit/js/core/nav.min.js"></script>
	<script src="uikit/js/components/sticky.min.js"></script>
	<script src="js/pq-top.js" type="text/javascript"></script>
	<script src="js/pq-forms.js" type="text/javascript"></script>
	<script src="js/pq-backgrounds.js" type="text/javascript"></script>


</body>
</html>
